.aab1{
    text-align: center;
}

.ab1 {
    height: 400px;
    width: 1700px;
    display: flex;
    background-color:bisque;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
   margin: 20px;
}


.ab1 h2{
    padding-right: 30px;
    font-size: 2rem;padding-left: 30px;
}

.nav{
    background-color: black;
    height: 100px;
    width: 1700px;
    
}

.nav h1{
    color: white;
    padding-top: 30px;

}
